@mixin raleway900 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

}

@mixin raleway800 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

@mixin raleway700 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

@mixin raleway500 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

@mixin playfairdisplay {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

@mixin textancre {
    text-decoration: none;
    color: black;
}
@mixin ligneaudessus{
    a::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 50%;
        width: 100%;
        height: 2px;
        opacity: 0;
        background-color: $prim;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: all 0.3s ease-in-out;
    }
      
    a:hover::before {
        transform: translate(-50%, 0) scaleX(1);
        opacity: 1;
    }
}