@mixin raleway900 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

}

@mixin raleway800 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

@mixin raleway700 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

@mixin raleway500 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

@mixin playfairdisplay {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

@mixin textancre {
    text-decoration: none;
    color: black;
}
@mixin ligneaudessus{
    a::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 50%;
        width: 100%;
        height: 2px;
        opacity: 0;
        background-color: $prim;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: all 0.3s ease-in-out;
    }
      
    a:hover::before {
        transform: translate(-50%, 0) scaleX(1);
        opacity: 1;
    }
}
@mixin animationbouton {

        -webkit-animation: scale-down-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-down-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        @-webkit-keyframes scale-down-center {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            100% {
              -webkit-transform: scale(0.75);
                      transform: scale(0.75);
            }
          }
          @keyframes scale-down-center {
            0% {
              -webkit-transform: scale(1);
                      transform: scale(1);
            }
            100% {
              -webkit-transform: scale(0.75);
                      transform: scale(0.75);
            }
          }
        }