#premieresection {
    padding-top: 5%;
    background-image: url(./assets/image_section1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 80%;
    margin: auto;
    display: flex;

    @media only screen and (max-width: 1300px) {
        width: 95%;
    }

    @media only screen and (max-width: 768px) {
        background-size: contain;
    }

    @media only screen and (max-width: 700px) {
        background-position: right center;
        background-position-y: 40%;
    }

    #contgauche {
        padding-bottom: 5%;
        width: 55%;
        z-index: 1;

        @media only screen and (max-width: 768px) {
            width: 50%;
        }

        @media only screen and (max-width: 1024px) {
            width: 60%;
        }

        @media only screen and (max-width: 700px) {
            width: 100%;
        }

        h2 {
            margin-bottom: 5%;
            font-size: 4rem;
            @include playfairdisplay;

            @media only screen and (max-width: 768px) {
                font-size: 2.5rem;
            }
        }

        p {
            font-size: 1rem;
            width: 70%;
            @include raleway500;
        }

        #contboutonsectionune {
            width: 65%;
            display: flex;
            justify-content: space-between;

            #trynow {
                padding-top: 3%;
                padding-bottom: 3%;
                padding-left: 9%;
                padding-right: 9%;
                color: white;
                border-style: solid;
                border-color: $prim;
                background-color: $prim;
                align-items: center;
                @include raleway800;
            }

            #getademo {
                padding-top: 3%;
                padding-bottom: 3%;
                padding-left: 7%;
                padding-right: 7%;
                color: $prim;
                border-style: solid;
                border-color: $prim;
                background-color: white;
                align-items: center;
                @include raleway800;
            }
        }
    }
}