// Début Section 1
#premieresection {
    padding-top: 5%;
    background-image: url(./assets/image_section1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 75%;
    margin: auto;
    display: flex;

    @media only screen and (max-width: 1300px) {
        width: 95%;
    }

    @media only screen and (max-width: 768px) {
        background-size: contain;
    }

    @media only screen and (max-width: 700px) {
        background-position: right center;
        background-position-y: 40%;
    }
    // Conteneur Partie gauche
    #contgauche {
        padding-bottom: 5%;
        width: 55%;
        z-index: 1;

        @media only screen and (max-width: 1024px) {
            width: 60%;
        }

        @media only screen and (max-width: 768px) {
            width: 70%;
        }

        @media only screen and (max-width: 560px) {
            width: 100%;
        }

        h2 {
            margin-bottom: 5%;
            font-size: 4rem;
            @include playfairdisplay;

            @media only screen and (max-width: 768px) {
                font-size: 3.2rem;
            }
            @media only screen and (max-width: 700px){
                font-size: 2rem;
            }
        }

        p {
            font-size: 1rem;
            width: 80%;
            @include raleway500;
            @media only screen and (max-width: 560px){
                width: 100%;
            }
        }
        // Conteneur deux boutons Try Now + Get A Demo
        #contboutonsectionune {
            width: 80%;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 700px){
                flex-direction: column;
                width: 50%;
            }

            #trynow {
                font-size: 1.25rem;
                padding-top: 3%;
                padding-bottom: 3%;
                padding-left: 12%;
                padding-right: 12%;
                color: white;
                border-style: solid;
                border-color: $prim;
                background-color: $prim;
                align-items: center;
                @include raleway800;
                @media only screen and (max-width: 992px){
                    font-size: 1rem;
                    }
            }

            #getademo {
                font-size: 1.25rem;
                padding-top: 3%;
                padding-bottom: 3%;
                padding-left: 10%;
                padding-right: 10%;
                color: $prim;
                border-style: solid;
                border-color: $prim;
                background-color: white;
                align-items: center;
                @include raleway800;
                @media only screen and (max-width: 992px){
                    font-size: 1rem;
                    }
            }
        }
    }
}